<% if @user.errors.any? %>
<div id='error_explanation'>
<div class='alert alert-danger'>
Oops. Please fix the following <%= pluralize(@user.errors.count, "problem") %>.
</div>
<ul>
	<% @user.errors.full_messages.each do |msg| %>
	<li> <%= msg %> </li>
	<% end %>
</ul>
</div>
<% end %>
